// Styling for the header.php





  // for the nav 
.main-navigation{
    border-bottom: 1px solid $colar__inhab-bordercolor;
    padding: .5rem 0;
}
  .site-header{
      width: 100%;
      
      .menu-main-menus-container {
        margin-left: auto;
        margin-right: auto;
        width: $base__width;
          .nav-menu{
              display:flex;
              justify-content: flex-end;
              text-transform: uppercase;
            .menu-item {
                padding: 0 0 0 1.5rem;
            }
          }
          
      }
  }
// stying for the feat image 
.home, .page-id-83 {
    .main-navigation{
    border-bottom: none;

    }
    .page-feat-image {
        height: 100vh;
        width: 100vw;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4.5rem;
        position: absolute;
        z-index: -1;
        }
      .site-header{
      position: relative;
      top: 0;
      min-width: 100%;
      height: 100vh;
      a {
        color: $color__background-body;
        }
    }
}
